body {
  /* styling body element */
  grid-template-columns: 1fr 2fr;

  box-sizing: border-box;

  border: solid;

  width: 30%;

  padding: auto;

  margin: auto;
  
  max-width: 85ch;

  gap: 1em;
}

.single-card {
  /* styling single card */ 
  display: block;

  align-items: center;
  
  justify-content: center;

  width: 100%;
  height: 100%;

  margin: auto;

  overflow-wrap: break-word;

  background-color: hsl(217, 23%, 88%);
 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  padding: auto;
}

h3 {
  /* styling h3 element */
  text-align: left;

  font-size: 20px;
}

.knife-image {
  /* styling image */
  object-fit: fill;

  width: 100%;
  height: 100%;
}

a:visited {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0.5rem 1rem;
  margin: auto;
  width: max-content;
  
  text-decoration: none;
  color: hsl;
  background-color: hsl(297, 80%, 41%));
  border-radius: .5rem;
  border-style: double;
  display: block;
}

a:hover {
  background-color: #a0632a;
  color: #a0632a;
}

a:active {
  color: hsl(266, 98%, 55%);
  background-color: hsl(347, 98%, 55%);
}