body {
  /* styling body element */
  margin: auto;
  margin-top: 5rem;

  text-align: left;

  display: block;

  background-image: linear-gradient(100deg,hsl(268, 67%, 24%), hsl(76, 82%, 56%));

  justify-content: center;

  line-height: 1.5;
}

.single-card {
  /* styling single card */ 
  display: block;

  overflow-wrap: break-word;

  background-color: hsl(217, 23%, 88%);
 
  font-family: 'Antonio', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  padding: 1rem;

  margin: auto;

  max-width: 50ch;

  justify-content: center;

  border-style: double;
  border-radius: 2rem;
}

p {
  /* added font-family for paragraph */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
  /* styling h3 element */
  text-align: left;

  font-size: 20px;
}

.knife-image {
  /* styling image */
  object-fit: fill;

  width: 100%;
  height: 100%;

  clip-path: circle(60%);
}

a {
  /* added no text-decoration */
  text-decoration: none;
}

a:visited {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0.5rem 1rem;
  margin: auto;
  width: max-content;
}

a:hover {
  /* added a hover to the link */
  color: #a0632a;
}

a:active {
  /* added a color when link is clicked */
  color: #ebb94f;
}