body {
  /* styling body element */
  grid-template-columns: 1fr 2fr;

  box-sizing: border-box;

  width: 30%;

  border: solid;
  padding: 10px;

  margin: auto;
  max-width: 85ch;
}

.single-card {
  /* styling single card */ 
  display: block;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  margin: auto;
}

h3 {
  /* styling h3 element */
  text-align: left;

  font-size: 20px;
}

.knife-image {
  /* styling image */
  object-fit: fill;

  width: 100%;
  height: 100%;
}